.root {
  display: flex;
  gap: 8px;
  align-items: center;
}

.labelBlock {
  display: flex;
  gap: 8px;
  align-items: center;
}

.labelText {
  white-space: nowrap;
}

.smallInput {
  width: 50px;
}
